.card > .img-container > img {
  width: 60%;
  margin-left: 100px;
  margin-top: 20px;
}

.card {
  margin-right: 10px;
  background-color: blue;
  border-radius: 2px;
  height: 560px;
  margin: 1rem;
  position: relative;
  width: 725px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  margin-top: 40px;
  
}

.content{
  color: lightblue ;
  font-size: 20px;
  margin-top: 20px;
}

ul {
  list-style-type: none;
}