.card > .img-container > img {
    width: 20%;
    margin-left: 100px;
    margin-top: 20px;
  }

  .card {
    margin-right: 10px;
   
    border-radius: 2px;
    height: 360px;
    margin: 1rem;
    position: relative;
    width: 725px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    margin-top: 40px;
    
  }

  ul{
  overflow: scroll; 
    }
  